@font-face {
	font-family: 'neue-medium';
	src: url('/assets/fonts/NeueHaasDisplay-Mediu.woff2') format('woff2');
}
@font-face {
	font-family: 'neue-roman';
	src: url('/assets/fonts/NeueHaasDisplay-roman.woff2') format('woff2');
}
@font-face {
	font-family: 'inter-regular';
	src: url('/assets/fonts/Inter-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'inter-roman';
	src: url('/assets/fonts/Inter-roman.var.woff2') format('woff2');
}
@font-face {
	font-family: 'inter-medium';
	src: url('/assets/fonts/Inter-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'inter-semibold';
	src: url('/assets/fonts/Inter-SemiBold.woff2') format('woff2');
}

.button-main {
	display: flex;
	height: 2.5rem;
	cursor: pointer;
	border: 0.2px solid #e4e8f1;
}

.button-main:hover {
	background-color: #f1f4f9;
	border: 1px solid #fff;
}
