@font-face {
	font-family: 'neue-medium';
	src: url('/assets/fonts/NeueHaasDisplay-Mediu.woff2') format('woff2');
}
@font-face {
	font-family: 'neue-roman';
	src: url('/assets/fonts/NeueHaasDisplay-Roman.woff2') format('woff2');
}
@font-face {
	font-family: 'inter-regular';
	src: url('/assets/fonts/Inter-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'inter-roman';
	src: url('/assets/fonts/Inter-roman.var.woff2') format('woff2');
}
@font-face {
	font-family: 'inter-medium';
	src: url('/assets/fonts/Inter-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'inter-semibold';
	src: url('/assets/fonts/Inter-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'neue-bold';
	src: url('/assets//fonts/NeueHaasDisplay-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'monaco';
	src: url('/assets/fonts/Monaco.ttf') format('woff2');
}

body {
	margin: 0;
	/* background-color: #f8f8fa; */
}

a {
	text-decoration: none;
}

.view-more:hover {
	text-decoration: underline;
}

li {
	margin: 1rem 0.3rem;
	font-family: neue-roman;
	color: #334155;
}

.readmore-p:hover {
	text-decoration: underline;
}

.mainPage {
	height: 100vh;
	/* background-color: #f8f8fa; */
	margin: 0;
}

.item-card {
	border-radius: 7px;
	background-color: white;
	margin-top: 2rem;
	width: 22rem;
	box-shadow: 0px 0px 0.5px 0.8px rgba(0, 0, 0, 0.07);
}

.background-image {
	width: 100%;
	height: 50%;
	object-fit: cover;
}

.socials {
	margin-right: 1.5rem;
	margin-top: 1.3rem;
}

.button-main {
	display: flex;
	height: 2.5rem;
	cursor: pointer;
	border: 1px solid #e4e8f1;
}

.button-main:hover {
	background-color: #f1f4f9;
	border: 1px solid #fff;
}

h1 {
	font-family: 'neue-bold';
	color: #333342;
	letter-spacing: -0.04rem;
	margin-right: 0.25rem;
	margin: 0;
}

.status > p {
	font-family: 'neue-roman';
	/* margin-top: 0.4rem; */
	color: #666c86;
	margin: 0;
}

.card-wrapper {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	top: 0;
}

.top-section {
	display: flex;
	flex-direction: row;
	margin-top: 0.5rem;
	align-items: center;
}

.main-card-wrapper {
	position: absolute;
}

.main-card {
	padding-bottom: 1.9rem;
	border-radius: 6px;
	box-shadow: 0px 0px 0.5px 0.8px rgba(0, 0, 0, 0.07);
	background-color: white;
	width: 46rem;
}

.profile-image-main {
	height: 7rem;
	width: 7rem;
	border-radius: 100px;
	border: 2.8px solid #646ceb;
	padding: 0.18rem;
	margin-left: 2.8rem;
	margin-right: 5rem;
}

.profile-image {
	height: 7rem;
	width: 7rem;
	border-radius: 100px;
}

.tab-main > p {
	font-family: 'neue-roman';
}

.timeline-item {
	width: 100%;
	border-left: 1px solid #e4e8f1;
	margin-top: 28px;
}

.tabs-page {
	width: 100%;
	display: flex;
	justify-content: center;
}

.skills-section {
	margin-left: 2.7rem;
	margin-top: 1.2rem;
	margin-bottom: 1.3rem;
}

.skills-section-inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 80%;
}

.status {
	margin-left: 2.8rem;
	margin-top: 0.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.info-section {
	margin-left: 2.8rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 1.2rem;
}

.projects-page {
	/* position: relative; */
	/* top: -7rem; */
	width: 46rem;
}

.projects-page-inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.timeline {
	width: 46rem;
	margin-top: 1.8rem;
	/* position: relative;
	top: -5rem; */
}

.blog-page {
	/* position: relative;
	top: -7rem; */
	width: 46rem;
}

.blog-page-inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.timeline-item-inner-heading {
	display: flex;
	position: relative;
	top: -28px;
	left: -12px;
	align-items: center;
	/* background-color: red; */
}

@media screen and (max-width: 700px) {
	.tabs-page {
		margin-top: 20%;
	}

	.timeline-item-inner-heading {
		left: 0;
		flex-wrap: wrap;
		padding: 0.2rem 1rem;
	}

	.timeline-item-inner-heading img {
		display: none;
	}

	.projects-page {
		position: unset;
		width: 100vw;
	}

	.projects-page-inner {
		justify-content: center;
	}

	.blog-page-inner {
		justify-content: center;
	}

	.blog-page {
		position: unset;
		width: 100vw;
	}

	.timeline {
		width: 100vw;
		top: 2rem;
	}

	/* .background-image {
		height: 30vh;
	} */

	/* .main-card-wrapper {
		margin-top: 80px;
	} */

	.main-card {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		width: 100%;
	}

	.socials {
		margin-right: 0rem;
		display: flex;
		flex-direction: row;
		margin-top: 30px;
	}

	.skills-section {
		margin-left: 20px;
		margin-right: 20px;
	}

	.profile-image-main {
		margin-left: 20px;
	}

	.skills-section-inner {
		width: 100%;
	}

	.info-section {
		margin-left: 25px;
	}

	.status {
		margin-left: 25px;
	}

	.footer-inner {
		margin-top: 50px;
		padding: 0 20px;
	}
}
