@font-face {
	font-family: 'neue-bold';
	src: url('/assets//fonts/NeueHaasDisplay-Bold.woff2') format('woff2');
}

h1 {
	font-family: 'neue-bold';
	color: #333342;
	letter-spacing: -0.04rem;
	margin-right: 0.25rem;
	margin: 0;
}

.status > p {
	font-family: 'neue-roman';
	/* margin-top: 0.4rem; */
	color: #666c86;
	margin: 0;
}
